.App {
  font-family: Arial, sans-serif;
  margin: 50px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
}

button {
  margin-right: 10px;
  padding: 5px 15px;
  cursor: pointer;
  background-color: #007BFF; /* Fondo azul */
  border: none;
  border-radius: 5px;
  color: white;
}

h1 {
  margin-bottom: 20px;
}
